{% block title %}<font color=red> Access </font>{% endblock title %}
{%block body%} 
<style>
    .col-sm-10{
      color: white;
    }
    
    body {
      background-image: url('static/mypics/login.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 1825px 900px;
    }
</style>
<div>
    <div class="col-sm-10">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="col-sm-10">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <fieldset class="col-sm-10">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" >
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </fieldset>
    <div class="col-sm-10">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <div action="/">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <input type="submit" value="Access now"  />
          <div class="input-box message-box">
          
          </div>
          <form action="/registration">
          <div> <font color=red>Or</font></div>
          <div style = "position:fixed; left: 12px; bottom:401px;" class="button">
            <input type="submit" value="Join us"  />
         
        
       
        </div>
      </form>
      
    </div>
    </div>
   
{%endblock body%}