<iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/FLY6XZXKqes?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9ivWTRi" crossorigin="anonymous">

    <h4s>
      <style>
        .container1{
          color: white;
          padding-top: 2px;
          padding-bottom: 2px;
        }
        
        body {
          background-image: url('static/mypics/mis1.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    
      
        </style>
      </head>         
<div  style = "position:fixed; left: 650px; top:120px;"class ="container1">
  <marquee direction="up"> Mission--- 
    <div>**Deflate a party balloon***...</div>
<div>***Hide one of the birthday gifts***...</div>
<div>***Swipe something from the fridge***...</div>
<div>***Write a message on another guest's paper plate or napkin***...</div>
<div>***Smuggle a roll of toilet paper out of the bathroom***...</div>

  </div>
